{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>@Ovid@ - {% trans "Hello" %}</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link type="text/css" rel="stylesheet"
          href="/static/bootstrap.css">
    <style type="text/css">
      body {
      padding-top: 60px;
      }
    </style>
    <script type="text/javascript" language="javascript"
            src="/libjs/jquery/jquery.min.js">
    </script>
    {% ifequal MAINTENCE_MODE "PRODUCTION" %}
    {% include "@ovid@-google-analytics.html" %}
    {% endifequal %}
  </head>
  <body>
    <div class="topbar-wrapper">
      <div class="topbar">
        <div class="topbar-inner">
          <div class="container">
            <h3>
              <a href="/@ovid@/">
                @Ovid@
              </a>
            </h3>
            <form id="setlang" class="form-stacked" method="POST" action="/@ovid@/i18n/setlang/">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ request.path }}" />
              <div class="clearfix">
                <div class="input">
                  <select id="language" name="language" onchange="$('#setlang').submit()">
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if LANGUAGE_CODE == lang.0 %}selected{% endif %}>
                      {{ lang.1 }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <noscript>
                <input type="submit" value="{% trans "Set language" %}" />
              </noscript>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
